
@{
    ViewData["Title"] = "Index";
}

<h1>HomeSlice App</h1>

<h2>Summary</h2>
<ul>
    <li><a href="~/files/Application Description.docx" target="_blank">HomeSlice Application Summary</a></li>
</ul>


<h2>Documentation</h2>

<ul>
    <li><a asp-area="" asp-controller="Documents" asp-action="ERD">ERD Diagram</a></li>
    <li><a asp-area="" asp-controller="Documents" asp-action="UseCase">Use Case Diagram</a></li>
    <li><a asp-area="" asp-controller="Documents" asp-action="FunctionalRequirements">Functional Requirements</a></li>
    <li><a asp-area="" asp-controller="TokenAPI" asp-action="NumberOfUsers">API Promo: how many customers we have</a></li>
</ul>

<h2>Test Login Credentials</h2>
<p>AppAdmin Credentials</p>
<p>login       : 21stcenturykline@gmail.com</p>
<p>password    : Test-User1</p>

<p>Roommate Credentials</p>
<p>login       : dtsetterlund@gmail.com</p>
<p>password    : Test-User2</p>


<h2>Latest Update</h2>
<p>2018-02-27 at 02:30 pm</p> <!--format: yyyy-mm-dd-time-->