@{
    ViewData["AddBill"] = "Add Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["AddBill"]</h2>

<div class="row">
    <div class="col-md-6">
        <h4>Bill Type</h4>
        <hr />
        <select class="form-control" id="AddBill" name="AddBill">
            <option>Select Bill Type</option>
            <option>Rent</option>
            <option>Strata Fees</option>
            <option>Hydro</option>
            <option>Cable/Internet</option>
            <option>Grocery</option>
            <option>Other</option>
        </select>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Roommates On Bill</h4>
        <hr />
        <input id="RoommateA" type="checkbox" value="true" name="Kevin" />
        <label for="RoommateA">&nbsp;Kevin</label> <br/>
        <input id="RoommateB" type="checkbox" value="true" name="Michael" />
        <label for="RoommateB">&nbsp;Michael</label> <br />
        <input id="RoommateC" type="checkbox" value="true" name="Mina" />
        <label for="RoommateC">&nbsp;Mina</label> <br />
        <input id="RoommateD" type="checkbox" value="true" name="Tom" />
        <label for="RoommateD">&nbsp;Tom</label> <br />
        <input id="RoommateE" type="checkbox" value="true" name="Will" />
        <label for="RoommateE">&nbsp;Will</label> <br />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Frequency</h4>
        <hr />
        <form action="">
                <input type="radio" id="one-time"
                       name="recurring" value="one-time">
                <label for="yes">One-Time Bill</label>
                <br/>
                <input type="radio" id="recurring"
                       name="recurring" value="recurring">
                <label for="no">Recurring Bill</label>

                <br/><br/>

            <select class="form-control" id="frequency" name="frequency">
                <option>Select How Often Bill Occurs</option>
                <option>Weekly</option>
                <option>Bi-Weekly</option>
                <option>Monthly</option>
                <option>Bi-Monthly</option>
                <option>Annually</option>
            </select>
        </form>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Amount</h4>
        <hr />
        <input class="form-control" type="number" min="0.00" max="10000.00" step="0.01" placeholder="200.00" align="middle"/>
        <br/>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-6">
        <h4>Bill Notes</h4>
        <hr />
        <form>
            <fieldset>
                <p>
                    <textarea class="form-control" rows="6" cols="80">Add a Note to Your Bill</textarea>
                </p>
            </fieldset>
        </form>
    </div>
</div>

<br />
<button type="submit" class="btn btn-default" onclick="billAlert()">Create Bill</button>

<script language="javascript" type="text/javascript">

    function billAlert() {
        alert("Are you sure all information about this bill is correct?");
        //location.href = '....';
    }
    
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
