@{
    ViewData["Join"] = "Join Household";
    ViewData["Create"] = "Create A New Household";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Join"]</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Manage" asp-action="SendVerificationEmail" method="post">
            <h4>Join an existing household.</h4>
            <hr />
            <div class="form-group">
                <label>Household ID Number</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Household Password</label>
                <input class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Join</button>
        </form>
        <p>@ViewData["StatusMessage"]</p>
    </div>
</div>

<h2>@ViewData["Create"]</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Household" asp-action="Create" method="post">
            <h4>Create a New Household Account & Invite Roommates.</h4>
            <hr />

            <action ="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <h4> Upload Household Image </h4>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" />
                    <br />
                    <input type="submit" value="Upload" />
                </fieldset>
                <br />

                <div class="form-group">
                    <label>Household Name</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label>Household Address</label>
                    <input class="form-control" />
                </div>

                <div id="form1" runat="server" >
                    <div id="dynamicControlDiv">
                        <a h ref="a" onclick="createTextBox();"><h4>Add Roommate Email</h4></a>
                    </div>
                    <asp:button id="submitButton" runat="server" text="Invite to Join"></asp:button>
                </div>

                <script type="text/javascript">

                    function createTextBox(elementRef) {
                        var controlRef = document.createElement('input');
                        controlRef.type = 'text';
                        controlRef.name = 'dynamicTextBox';
                        controlRef.id = 'dynamicTextBox';
                        controlRef.size = 95;
                        document.getElementById('dynamicControlDiv').appendChild(controlRef);
                    }

                </script>
                <div>
                    <br />
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
        </form>
        <p>@ViewData["StatusMessage"]</p>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
