@model Project1Phase1.ViewModels.ProfilePageVM

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("HomeAdmin"))
{
    <div class="row">
        <a asp-area="" asp-controller="Home" asp-action="ManageHousehold">Manage Household</a>
    </div>
}

@{
    string totalBalanceColor = "forestgreen";
    string relationshipBalanceColor = "forestgreen";
}

@if (Model.CurrentUser.Balance > 0)
{
    totalBalanceColor = "red";
}

        <div align="center">
            <br />
            <br />

            <h2 text-align="centre">Hey, @Model.CurrentUser.Roommate.FirstName!</h2>

            <br />

            <div class="row">
                <table>
                    <colgroup>
                        <col style="width:40%">
                        <col style="width:30%">
                        <col style="width:20%">
                        <col style="width:10%">
                    </colgroup>
                    <tbody style="text-align: center">
                        <tr>
                            <th style="text-align: center"></th>
                            <th style="text-align: center"></th>
                            <th style="text-align: center"></th>
                            <th style="text-align: center"></th>
                        </tr>
                        <tr>
                            <td><strong>@Model.CurrentUser.Roommate.FirstName</strong></td>
                            <td><img src="~/images/profile-pictures.png" width="80" class="img-rounded" /></td>
                            <td><i>your balance with the household is</i></td>
                            <td><span style="color:@totalBalanceColor">$@Math.Round(Math.Abs(Model.CurrentUser.Balance), 2)</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br />
            <br />

            <h2 text-align="centre">Roommates</h2>

            <br />

            <div class="row">
                <table>
                    <colgroup>
                        <col style="width:40%">
                        <col style="width:30%">
                        <col style="width:20%">
                        <col style="width:10%">
                    </colgroup>
                    <tbody style="text-align: center">
                        <tr>
                            <th style="text-align: center"></th>
                            <th style="text-align: center"></th>
                            <th style="text-align: center"></th>
                            <th style="text-align: center"></th>
                        </tr>
                        @foreach (var roommate in Model.RoomiesRelationships)
            {
                var balanceOwed = roommate.Balance;

                            <tr>
                                <td>
                                    @Html.ActionLink(
                                    linkText: roommate.Roommate.FirstName,
                                    actionName: "Relationship",
                                    controllerName: "Home",
                                    routeValues: new
                                    {
                                        roommateId = roommate.Roommate.RoommateId
                                    },
                                    htmlAttributes: null
                                )
                            </td>
                            <td><img src="~/images/profile-pictures.png" class="img-rounded" width="80" /></td>
                            @if (roommate.Balance > 0)
<<<<<<< HEAD
                            {
                                //balanceOwed *= -1;
=======
                {
                    balanceOwed *= -1;
>>>>>>> cc06899dad36612c97de875ba65c068e1d270af3
                                <td><i>owes you</i></td>
                                <td><span style="color:@relationshipBalanceColor">$@Math.Round(Math.Abs(balanceOwed), 2)</span></td>
                            }
                            else if (roommate.Balance < 0)
                            {
                                relationshipBalanceColor = "red";
                                <td><i>you owe</i></td>
                                <td><span style="color:@relationshipBalanceColor">$@Math.Round(Math.Abs(balanceOwed), 2)</span></td>
                            }
                            else
                            {
                                <td><i>balance is</i></td>
                                <td>@roommate.Balance</td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



        <br />
        <div class="row">
            @*Will: turns  footer options into a nav bar of sorts*@
            <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->

                <a asp-controller="Home" asp-action="AddBill" class="col-lg-4 text-center">Add a Bill</a>
                <a asp-controller="Home" asp-action="ManageBills" class="col-lg-4 text-center">Manage your Bills</a>
                @if (User.IsInRole("HomeAdmin"))
            {
                    <a asp-controller="Home" asp-action="ManageHousehold" class="col-lg-4 text-center">Manage Household</a>
                }
            </nav>
        </div>


        <br />
