@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Personal Summary Page</h2>
@if (User.IsInRole("HomeAdmin"))
{
    <div class="row">
        <a asp-area="" asp-controller="Home" asp-action="ManageHousehold">Manage Household</a>
    </div>
}
<div class="row">
    <div class="col-sm-6 col-lg-6">
        <h3>//Account Name</h3>
        <img src="~/images/profile.png" alt="//Profile Image" width="300" />
    </div>
    <div class="col-sm-6 col-lg-6">
        <h3>//Household Name</h3>
        <img src="~/images/icon-2120149_1280.jpg" alt="//Household Image" width="200" />
        <h3>owes you<br />//totalAmount</h3>
    </div>
</div><br />
<h2>Roommates</h2>
<div class="row">
    <table>
        <colgroup>
            <col style="width:25%">
            <col style="width:50%">
            <col style="width:25%">
        </colgroup>
        <tbody style="text-align: left">
            <tr>
                <td><img src="~/images/profile.png" width="200" /></td>
                <td>Michael owes you</td>
                <td>$200</td>
            </tr>
            <tr>
                <td><img src="~/images/profile.png" width="200" /></td>
                <td>You owe Tom</td>
                <td>$100</td>
            </tr>
        </tbody>
    </table>
</div>


@*<div class="row">
        <div class="col-lg-2"></div>
        <img class="col-lg-8" src="~/images/Profile3.jpg" />
        <div class="col-lg-2"></div>
    </div>*@
<br />
<div class="row">
    @*Will: turns  footer options into a nav bar of sorts*@
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->

        <a asp-controller="Home" asp-action="Relationship" class="col-lg-4 text-center">See Relationship</a>
        <a asp-controller="Home" asp-action="AddBill" class="col-lg-4 text-center">Add a Bill</a>
        <a asp-controller="Home" asp-action="ManageBills" class="col-lg-4 text-center">Manage your Bills</a>
        <a asp-controller="Home" asp-action="ManageHousehold" class="col-lg-4 text-center">Manage Household</a>
    </nav>
</div>

<br />