
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-2"></div>
    <img class="col-lg-8" src="~/images/Profile3.jpg" />
    <div class="col-lg-2"></div>
</div>
<br />
<div class="row">
    //Will: turns  footer options into a nav bar of sorts
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->

        <a asp-controller="Home" asp-action="Relationship" class="col-lg-4 text-center">See Relationship</a>
        <a asp-controller="Home" asp-action="AddBill" class="col-lg-4 text-center">Add a Bill</a>
        <a asp-controller="Home" asp-action="ManageBills" class="col-lg-4 text-center">Manage your Bills</a>

        <a asp-controller="Home" asp-action="ManageHousehold" class="col-lg-4 text-center">Manage Household</a>
    </nav>
</div>

<br />